{% extends 'layout.html' %}

{% block seodesc %}Для просмотра курса, его необходимо купить{% endblock seodesc %}
{% block title %}Сначала купите курс{% endblock title %}
{% block seokw %}{{ object.seokw }}{% endblock seokw %}
{% block imgurl %}{{ object.image }}{% endblock %}
{% block url %}{{ object.get_absolute_url }}{% endblock %}
{% block DCtype %}interactive resource{% endblock DCtype %}
{% block OGtype %}video.other{% endblock OGtype %}


{% block content %}

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>

     <div class='row'>
    <div class='col-sm-12'>
    <h1>Необходимо <a href='{{ object.get_purchase_url }}'>купить курс</a></h1>
    {% if object.image %}
    <img src='{{ object.image.url }}' class='img-responsive'>
    {% endif %}

    <h1>{{ object.title }}</h1>

    {{ object.description|linebreaks }}
     <a href='{{ object.get_purchase_url }}'>Купить курс</a>
    {{ object.display_price }}
    </div>

    </div>

    <div class='row'>
    <div class='col-sm-12'>
    <h3>Лекции:</h3>
    {% for item in object.lecture_set.all %}
    <div class="list-group">
        <a class="list-group-item lead"  href='{{ item.get_absolute_url }}'>{{ item.title }} {% if item.free %}<small>(бесплатный просмотр)</small>{% endif %}</a>

    {% empty %}
        <p class='lead'>Лекции скоро появятся</p>
    </div>
    {% endfor %}
    </div>
    </div>

</div>
</div>

{% endblock content %}
